<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ews_grabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ews_grabber.Properties.Settings>
            <setting name="ExchangeServiceURL" serializeAs="String">
                <value>https://az18-cas-01.global.ds.honeywell.com/EWS/Exchange.asmx</value>
            </setting>
            <setting name="ExchangeWebProxy" serializeAs="String">
                <value>fr44proxy.honeywell.com</value>
            </setting>
            <setting name="EchangeWebProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ExchangeUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ExchangeDomainname" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLiteDataBaseFilename" serializeAs="String">
                <value>licensedata.db</value>
            </setting>
            <setting name="UseWebProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </ews_grabber.Properties.Settings>
    </userSettings>
</configuration>